# if scilab is installed, this .desktop file (to be placed in /usr/share/applications/)
# tells where the executable, icon and other stuff is.

[Desktop Entry]
Version=6.1.0
Name=Scilab
Comment=Open source, cross-platform numerical computational package and a high-level, numerically oriented programming language
Exec=/opt/scilab-6.1.0/bin/scilab
Icon=/opt/scilab-6.1.0/scilab-icon.png
Terminal=false
Type=Application
StartupStartupNotify=true
Categories=Education;Science;Math;
Keywords=science;math;matrix;numerical computation;plotting;

